In [2]:
#Read and combine data into a signle, iterable data frame
import statistics
import pandas as pd
import numpy as np
#titanic = []
train = pd.read_csv('/home/alex/Downloads/train.csv', index_col = None, header = 0)
test = pd.read_csv('/home/alex/Downloads/test.csv', index_col = None, header = 0)
combine = [train,test]
titanic = pd.concat(combine)

print(titanic)

     PassengerId  Survived  Pclass  \
0              1       0.0       3
1              2       1.0       1
2              3       1.0       3
3              4       1.0       1
4              5       0.0       3
..           ...       ...     ...
413         1305       NaN       3
414         1306       NaN       1
415         1307       NaN       3
416         1308       NaN       3
417         1309       NaN       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
413                                 Spector, Mr. Woolf    male   NaN      0
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0
415                       Saether, Mr. Simon Sivertsen    male  38.5      0
416                                Ware, Mr. Frederick    male   NaN      0
417                           Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
0        0           A/5 21171    7.2500   NaN        S
1        0            PC 17599   71.2833   C85        C
2        0    STON/O2. 3101282    7.9250   NaN        S
3        0              113803   53.1000  C123        S
4        0              373450    8.0500   NaN        S
..     ...                 ...       ...   ...      ...
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

[1309 rows x 12 columns]

In [3]:
#This part is for question 7
#Numerical values = (Age, Fare)

age = titanic['Age'].values
#age = age[np.isfinite(age)] #comment out for late questions
fare = titanic['Fare'].values
fare = fare[np.isfinite(fare)]


#count
#print(len(age))
#print(len(fare))

#mean
#print(np.mean(age))
#print(np.mean(fare))
#print(age)

#min
#print(np.min(age))
#print(np.min(fare))

#percentile age
print(np.percentile(age, 25))
print(np.percentile(age, 50))
print(np.percentile(age, 75))

#percentile age
print(np.percentile(fare, 25))
print(np.percentile(fare, 50))
print(np.percentile(fare, 75))

#max
print(np.max(age))
print(np.max(fare))

nan
nan
nan
7.8958
14.4542
31.275
nan
512.3292

In [4]:
#Question 8: Categorical values are Sex, Embarked, Survived, Pclass
from collections import Counter
sex     = titanic['Sex'].values
embark  = titanic['Embarked'].values  
survive = titanic['Survived'].values
pclass  = titanic['Pclass'].values

#print(titanic['Pclass'].count()) #used for getting the count
mc = Counter(sex)
print(mc.most_common())

[('male', 843), ('female', 466)]

In [5]:
#Question 9
class_to_survive = np.vstack((pclass, survive)).T
new_list = []

for i in range(len(class_to_survive)):
    if class_to_survive[i][0] ==1:
        new_list.append(class_to_survive[i])
top = 0
bot = 0
for i in range(len(new_list)):
    if new_list[i][1] == 0:
        bot = bot+1
    if new_list[i][1] ==1:
        top = top+1
        
print(top/(top + bot))

0.6296296296296297

In [6]:
#Question 10 Are women more likely to have survived?
#There are 843 men and 466 women in total

sex_surv = np.vstack((sex, survive)).T
new_list = []

male_live = 0
female_live = 0
for i in range(len(sex_surv)): 
    if sex_surv[i][0] == 'male' and sex_surv[i][1] ==1:
        male_live = male_live+1

for i in range(len(sex_surv)): 
    if sex_surv[i][0] == 'female' and sex_surv[i][1] ==1:
        female_live = female_live+1

print(male_live)
print(female_live)

109
233

In [8]:
#Question 14 What is the rate of duplicates in tickets?
ticket = titanic['Ticket'].values

print(len([item for item, count in Counter(ticket).items() if count > 1]))

x = [item for item, count in Counter(ticket).items() if count > 1]

tick_surv = np.vstack((ticket, survive)).T

216

In [9]:
#Question 15 Cabin Data
cabin = titanic['Cabin'].values

mc = Counter(cabin)
#print(mc.most_common())

In [11]:
from copy import copy

gender = copy(sex)

  
# creating a dict file  
gender = {'male': 0,'female': 1} 
  
# traversing through dataframe 
# Gender column and writing 
# values where key matches 
titanic['Gender'] = [gender[item] for item in titanic['Sex']] 
#print(titanic)