In [48]:
#Read and combine data into a signle, iterable data frame
import statistics
import pandas as pd
import numpy as np
#titanic = []
train = pd.read_csv('/home/alex/Downloads/train.csv', index_col = None, header = 0)
test = pd.read_csv('/home/alex/Downloads/test.csv', index_col = None, header = 0)
combine = [train,test]
titanic = pd.concat(combine)

print(titanic)

     PassengerId  Survived  Pclass  \
0              1       0.0       3
1              2       1.0       1
2              3       1.0       3
3              4       1.0       1
4              5       0.0       3
..           ...       ...     ...
413         1305       NaN       3
414         1306       NaN       1
415         1307       NaN       3
416         1308       NaN       3
417         1309       NaN       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
413                                 Spector, Mr. Woolf    male   NaN      0
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0
415                       Saether, Mr. Simon Sivertsen    male  38.5      0
416                                Ware, Mr. Frederick    male   NaN      0
417                           Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
0        0           A/5 21171    7.2500   NaN        S
1        0            PC 17599   71.2833   C85        C
2        0    STON/O2. 3101282    7.9250   NaN        S
3        0              113803   53.1000  C123        S
4        0              373450    8.0500   NaN        S
..     ...                 ...       ...   ...      ...
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

[1309 rows x 12 columns]

In [17]:
#This part is for question 7
#Numerical values = (Age, Fare)

age = titanic['Age'].values
#age = age[np.isfinite(age)] #comment out for late questions
fare = titanic['Fare'].values
fare = fare[np.isfinite(fare)]


#count
#print(len(age))
#print(len(fare))

#mean
#print(np.mean(age))
#print(np.mean(fare))
#print(age)

#min
#print(np.min(age))
#print(np.min(fare))

#percentile age
print(np.percentile(age, 25))
print(np.percentile(age, 50))
print(np.percentile(age, 75))

#percentile age
print(np.percentile(fare, 25))
print(np.percentile(fare, 50))
print(np.percentile(fare, 75))

#max
print(np.max(age))
print(np.max(fare))

21.0
28.0
39.0
7.8958
14.4542
31.275
80.0
512.3292

In [96]:
#Question 8: Categorical values are Sex, Embarked, Survived, Pclass
from collections import Counter
sex     = titanic['Sex'].values
embark  = titanic['Embarked'].values  
survive = titanic['Survived'].values
pclass  = titanic['Pclass'].values

#print(titanic['Pclass'].count()) #used for getting the count
mc = Counter(sex)
print(mc.most_common())

[('male', 843), ('female', 466)]

In [81]:
#Question 9
class_to_survive = np.vstack((pclass, survive)).T
new_list = []

for i in range(len(class_to_survive)):
    if class_to_survive[i][0] ==1:
        new_list.append(class_to_survive[i])
top = 0
bot = 0
for i in range(len(new_list)):
    if new_list[i][1] == 0:
        bot = bot+1
    if new_list[i][1] ==1:
        top = top+1
        
print(top/(top + bot))

0.6296296296296297

In [93]:
#Question 10 Are women more likely to have survived?
#There are 843 men and 466 women in total

sex_surv = np.vstack((sex, survive)).T
new_list = []

male_live = 0
female_live = 0
for i in range(len(sex_surv)): 
    if sex_surv[i][0] == 'male' and sex_surv[i][1] ==1:
        male_live = male_live+1

for i in range(len(sex_surv)): 
    if sex_surv[i][0] == 'female' and sex_surv[i][1] ==1:
        female_live = female_live+1

print(male_live)
print(female_live)

109
233

In [124]:
#Question 14 What is the rate of duplicates in tickets?
ticket = titanic['Ticket'].values

print(len([item for item, count in Counter(ticket).items() if count > 1]))

x = [item for item, count in Counter(ticket).items() if count > 1]

tick_surv = np.vstack((ticket, survive)).T
print(x)

for i,j in tick_surv:
    for items in x:
        if i==items:
            print(i,j)

216
['PC 17599', '113803', '17463', '349909', '347742', '237736', 'PP 9549', '347082', '382652', '345763', '239865', '347077', '19950', 'PC 17569', 'PC 17604', '113789', '345764', '2651', '11668', 'SC/Paris 2123', '370371', '2662', '349237', '3101295', 'PC 17572', '2926', '113509', 'C.A. 34651', 'CA 2144', '113572', '36973', '347088', '2661', 'S.O.C. 14879', '2680', '1601', '248738', '364516', '113059', '3101278', 'W./C. 6608', 'W.E.P. 5734', 'C.A. 2315', 'PC 17759', '231919', '244367', '35281', '371110', '110465', '2665', '2627', 'PC 17558', '2668', 'A/5. 3337', '228414', '7534', 'PC 17593', '2678', 'STON/O2. 3101279', 'C.A. 33112', '230080', '113776', 'A/5. 851', 'PC 17597', 'CA. 2343', '371362', 'C.A. 33595', '363291', '113505', '4133', 'LINE', '230136', '315153', '370365', '364849', '347054', '2699', 'F.C.C. 13528', '35273', '243847', '11813', '19943', '26707', 'C.A. 31921', '367230', '19928', '250649', '11751', '244252', 'A/5. 3336', '370129', '2650', 'PC 17585', '110152', 'PC 17755', '230433', '110413', 'PC 17582', 'PC 17760', '113798', '250644', '13502', '239853', 'C.A. 2673', '19877', '11967', '113781', '367226', '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608', '250651', 'F.C.C. 13529', '36928', '16966', '111361', 'PC 17611', '386525', 'C.A. 37671', 'SC/PARIS 2167', '2691', '110813', 'PC 17477', '11765', '113503', 'PC 17757', '2653', '113760', '28403', '28664', '29106', '28220', '345773', '347080', '2003', '250655', '376564', 'SC/AH 3085', '13507', '33638', '2666', '17453', '17464', '31027', '3101298', '36947', 'C.A. 6212', '26360', 'C 4001', 'PC 17603', '226875', '12749', 'PC 17483', 'PC 17761', '364498', 'WE/P 5735', '2908', '244358', '345572', 'A/4 48871', '11769', '358585', '2689', '237789', '13567', 'SC/AH 29037', '248727', '113796', '349910', '220845', '2659', '11753', '54636', '19996', '29750', 'F.C. 12750', '24160', '17474', '349256', '250647', '36568', '113806', '236853', '376566', '113773', '29103', '392096', 'S.O./P.P. 3', '29105', 'W./C. 6607', '2625', '112058', 'S.C./PARIS 2079', 'PC 17756', 'PC 17592', '392091', '350026', '21228', '24065', 'C.A. 31029', '13236', '13695', 'F.C.C. 13534', '2660', '347072', '11778', '13050', '350405', 'SOTON/O.Q. 3101315', 'S.O./P.P. 2', '13508', 'CA 31352', '112378']
PC 17599 1.0
113803 1.0
17463 0.0
349909 0.0
347742 1.0
237736 1.0
PP 9549 1.0
347082 0.0
382652 0.0
345763 0.0
239865 0.0
349909 0.0
347077 1.0
19950 0.0
PC 17569 1.0
PC 17604 0.0
113789 0.0
345764 0.0
2651 1.0
11668 0.0
SC/Paris 2123 1.0
370371 0.0
2662 0.0
349237 0.0
3101295 0.0
PC 17572 1.0
2926 1.0
113509 0.0
C.A. 34651 1.0
CA 2144 0.0
113572 1.0
36973 0.0
347088 0.0
2661 1.0
CA 2144 0.0
S.O.C. 14879 0.0
2680 0.0
1601 1.0
248738 1.0
364516 1.0
113059 0.0
3101278 1.0
W./C. 6608 0.0
19950 1.0
W.E.P. 5734 0.0
C.A. 2315 0.0
PC 17759 1.0
231919 1.0
244367 0.0
35281 0.0
371110 1.0
110465 0.0
2665 0.0
2627 0.0
11668 0.0
PC 17558 0.0
347082 0.0
S.O.C. 14879 0.0
237736 0.0
35281 0.0
2651 1.0
2668 1.0
A/5. 3337 0.0
228414 1.0
113803 0.0
7534 0.0
PC 17593 0.0
2678 0.0
STON/O2. 3101279 1.0
C.A. 33112 0.0
W./C. 6608 0.0
230080 0.0
113776 1.0
A/5. 851 0.0
PC 17597 0.0
CA. 2343 0.0
371362 0.0
C.A. 33595 1.0
3101295 0.0
363291 1.0
113505 1.0
347088 0.0
1601 0.0
382652 0.0
347742 1.0
4133 0.0
LINE 0.0
CA. 2343 0.0
347077 0.0
230136 1.0
315153 1.0
370365 1.0
364849 0.0
230080 1.0
PC 17569 1.0
CA. 2343 0.0
347054 0.0
3101278 0.0
2699 1.0
F.C.C. 13528 1.0
35273 1.0
243847 0.0
11813 1.0
19943 1.0
4133 0.0
36973 1.0
347077 1.0
26707 0.0
C.A. 31921 1.0
2665 0.0
367230 1.0
19928 0.0
250649 1.0
11751 1.0
244252 0.0
347054 0.0
A/5. 3336 0.0
370129 0.0
2650 1.0
PC 17585 1.0
110152 1.0
PC 17755 1.0
230433 1.0
347077 1.0
110413 0.0
3101295 0.0
PC 17582 1.0
PC 17760 1.0
113798 0.0
LINE 1.0
250644 1.0
13502 1.0
239853 0.0
382652 0.0
C.A. 2673 1.0
19877 1.0
11967 1.0
113781 0.0
PC 17558 1.0
367226 1.0
LINE 0.0
113781 1.0
17421 1.0
PC 17758 1.0
P/PP 3381 0.0
PC 17485 1.0
11767 1.0
PC 17608 1.0
250651 0.0
F.C.C. 13529 0.0
244367 1.0
36928 1.0
16966 1.0
248738 1.0
CA. 2343 0.0
PC 17760 1.0
363291 1.0
111361 1.0
367226 1.0
PC 17582 0.0
345764 0.0
PC 17611 1.0
113776 0.0
16966 1.0
230080 1.0
19950 1.0
386525 1.0
C.A. 37671 1.0
349237 0.0
113505 1.0
347088 0.0
SC/PARIS 2167 0.0
2691 0.0
370365 0.0
110813 1.0
PC 17477 1.0
11765 1.0
PC 17760 0.0
349909 0.0
PC 17604 1.0
113503 0.0
PC 17757 1.0
2653 1.0
113789 1.0
S.O.C. 14879 0.0
CA 2144 0.0
113760 1.0
35273 1.0
PP 9549 1.0
28403 0.0
STON/O2. 3101279 0.0
28664 0.0
29106 1.0
4133 0.0
19928 1.0
239853 0.0
28220 1.0
345773 0.0
347080 0.0
370129 0.0
2003 1.0
250655 1.0
376564 1.0
SC/AH 3085 1.0
13507 0.0
113760 1.0
W./C. 6608 0.0
29106 1.0
19950 0.0
F.C.C. 13529 1.0
33638 1.0
250644 1.0
2666 1.0
C.A. 34651 0.0
17453 1.0
17464 1.0
239853 0.0
2666 1.0
C.A. 34651 1.0
110465 0.0
31027 0.0
3101298 1.0
CA 2144 0.0
11967 1.0
4133 0.0
19943 1.0
C.A. 37671 1.0
2627 0.0
36947 1.0
C.A. 6212 0.0
113781 0.0
110152 1.0
PC 17758 0.0
26360 1.0
C 4001 0.0
1601 1.0
PC 17603 1.0
371110 0.0
226875 1.0
12749 1.0
111361 1.0
PC 17483 0.0
26360 1.0
2668 1.0
F.C.C. 13529 1.0
PC 17761 1.0
364498 0.0
WE/P 5735 1.0
347082 0.0
347082 0.0
2908 1.0
PC 17761 0.0
2908 1.0
363291 0.0
C.A. 33112 1.0
17421 1.0
244358 0.0
PC 17757 0.0
110413 1.0
345572 1.0
A/4 48871 0.0
349909 0.0
11769 1.0
358585 0.0
13507 1.0
2689 0.0
237789 1.0
17421 1.0
28403 0.0
110413 1.0
13567 1.0
36947 1.0
SC/AH 29037 0.0
345773 0.0
248727 1.0
LINE 0.0
PC 17485 1.0
243847 1.0
113796 0.0
349910 0.0
SC/Paris 2123 1.0
PC 17582 1.0
347082 0.0
367230 1.0
220845 1.0
347080 0.0
A/5. 3336 0.0
230136 1.0
2659 0.0
11753 1.0
2653 1.0
54636 0.0
13502 1.0
347088 0.0
C.A. 31921 0.0
3101295 0.0
376564 0.0
PC 17477 1.0
347088 0.0
1601 1.0
2666 1.0
PC 17572 1.0
231919 1.0
S.O.C. 14879 0.0
364849 0.0
35273 0.0
PC 17611 1.0
S.O.C. 14879 0.0
19996 1.0
29750 1.0
F.C. 12750 0.0
CA 2144 0.0
PC 17755 1.0
PC 17572 1.0
CA 2144 0.0
29750 0.0
SC/Paris 2123 0.0
3101295 0.0
24160 1.0
17474 1.0
349256 1.0
1601 1.0
17421 0.0
PC 17757 1.0
2691 0.0
250655 0.0
113781 1.0
2661 1.0
19996 1.0
250647 0.0
PC 17757 1.0
36568 0.0
248727 1.0
113806 1.0
31027 1.0
236853 0.0
24160 1.0
2699 0.0
54636 0.0
W./C. 6608 0.0
PC 17755 1.0
19877 0.0
PC 17608 1.0
376566 0.0
WE/P 5735 0.0
C.A. 2673 0.0
113773 0.0
29103 1.0
392096 1.0
220845 1.0
250649 1.0
110152 1.0
358585 0.0
113760 1.0
13502 1.0
371110 0.0
S.O./P.P. 3 0.0
29105 1.0
364516 1.0
24160 1.0
17474 1.0
W./C. 6607 0.0
382652 0.0
C.A. 2315 1.0
PC 17593 0.0
239865 0.0
CA. 2343 0.0
345773 0.0
250647 0.0
C.A. 31921 1.0
113760 1.0
2625 1.0
113806 1.0
A/4 48871 0.0
347082 0.0
112058 0.0
S.C./PARIS 2079 0.0
347088 0.0
12749 1.0
392096 1.0
3101295 0.0
1601 0.0
S.C./PARIS 2079 1.0
113572 1.0
2659 1.0
29106 1.0
PC 17756 1.0
1601 1.0
S.O./P.P. 3 0.0
113798 1.0
CA. 2343 0.0
248727 0.0
17453 1.0
347082 0.0
2678 0.0
PC 17592 1.0
244252 0.0
392091 1.0
36928 1.0
2666 1.0
350026 0.0
CA. 2343 0.0
347742 1.0
11751 1.0
P/PP 3381 1.0
7534 0.0
11767 1.0
230433 1.0
382652 0.0
W./C. 6607 0.0
3101298 nan
248738 nan
A/4 48871 nan
21228 nan
24065 nan
W.E.P. 5734 nan
SC/PARIS 2167 nan
PC 17603 nan
PC 17597 nan
PC 17608 nan
A/5. 3337 nan
113509 nan
2662 nan
SC/AH 3085 nan
C.A. 31029 nan
C.A. 2315 nan
W./C. 6607 nan
13236 nan
1601 nan
349256 nan
11753 nan
11813 nan
C.A. 37671 nan
13695 nan
29105 nan
19950 nan
382652 nan
386525 nan
PC 17608 nan
PC 17608 nan
F.C.C. 13534 nan
113796 nan
19950 nan
113503 nan
113503 nan
2678 nan
PC 17483 nan
2660 nan
29103 nan
347072 nan
F.C. 12750 nan
19877 nan
11778 nan
228414 nan
2625 nan
C 4001 nan
PC 17483 nan
2680 nan
PP 9549 nan
13050 nan
SC/AH 29037 nan
C.A. 33595 nan
13236 nan
371362 nan
367226 nan
4133 nan
CA 2144 nan
CA 2144 nan
113781 nan
PC 17608 nan
244358 nan
345763 nan
17463 nan
250651 nan
11767 nan
350405 nan
347077 nan
PC 17483 nan
SOTON/O.Q. 3101315 nan
2650 nan
315153 nan
W./C. 6608 nan
347072 nan
347077 nan
29750 nan
C.A. 33112 nan
11778 nan
230136 nan
PC 17756 nan
PC 17756 nan
113773 nan
PC 17558 nan
S.O./P.P. 2 nan
CA. 2343 nan
226875 nan
A/5. 851 nan
28220 nan
16966 nan
36568 nan
347080 nan
PC 17757 nan
26360 nan
C 4001 nan
S.O.C. 14879 nan
24065 nan
36928 nan
113503 nan
2661 nan
C.A. 6212 nan
220845 nan
PC 17599 nan
110813 nan
PC 17761 nan
237789 nan
16966 nan
W./C. 6607 nan
17464 nan
F.C.C. 13534 nan
28220 nan
26707 nan
2660 nan
C.A. 34651 nan
13508 nan
345572 nan
29103 nan
350405 nan
13050 nan
13508 nan
370371 nan
236853 nan
2926 nan
CA 31352 nan
SOTON/O.Q. 3101315 nan
2650 nan
370129 nan
21228 nan
33638 nan
SC/Paris 2123 nan
2662 nan
S.O./P.P. 2 nan
113781 nan
392091 nan
12749 nan
350026 nan
PC 17760 nan
PC 17569 nan
C.A. 31029 nan
24160 nan
230136 nan
PC 17585 nan
2003 nan
C.A. 33112 nan
2653 nan
C.A. 31029 nan
CA. 2343 nan
PC 17755 nan
A/5. 851 nan
F.C.C. 13528 nan
PC 17759 nan
S.O.C. 14879 nan
220845 nan
C.A. 2315 nan
11769 nan
349910 nan
CA. 2343 nan
S.C./PARIS 2079 nan
CA 31352 nan
11765 nan
CA. 2343 nan
2689 nan
3101295 nan
112378 nan
16966 nan
112058 nan
33638 nan
PC 17608 nan
347077 nan
364498 nan
376566 nan
220845 nan
349909 nan
12749 nan
PC 17592 nan
C.A. 2673 nan
315153 nan
13695 nan
13567 nan
36928 nan
28664 nan
112378 nan
113059 nan
113503 nan
SOTON/O.Q. 3101315 nan
19928 nan
PC 17758 nan
2668 nan

In [127]:
#Question 15 Cabin Data
cabin = titanic['Cabin'].values

mc = Counter(cabin)
print(mc.most_common())

[(nan, 1014), ('C23 C25 C27', 6), ('G6', 5), ('B57 B59 B63 B66', 5), ('F33', 4), ('F2', 4), ('F4', 4), ('C78', 4), ('D', 4), ('C22 C26', 4), ('B96 B98', 4), ('B58 B60', 3), ('E101', 3), ('E34', 3), ('A34', 3), ('C101', 3), ('B51 B53 B55', 3), ('C85', 2), ('C123', 2), ('E46', 2), ('B78', 2), ('D33', 2), ('C52', 2), ('B28', 2), ('C83', 2), ('F G73', 2), ('E31', 2), ('D10 D12', 2), ('D26', 2), ('C2', 2), ('E33', 2), ('D36', 2), ('D15', 2), ('C93', 2), ('D35', 2), ('B77', 2), ('E67', 2), ('C125', 2), ('B49', 2), ('C106', 2), ('C65', 2), ('C54', 2), ('C7', 2), ('C32', 2), ('B18', 2), ('C124', 2), ('D37', 2), ('B35', 2), ('E50', 2), ('E44', 2), ('C92', 2), ('D21', 2), ('D20', 2), ('E25', 2), ('B22', 2), ('C86', 2), ('C68', 2), ('B41', 2), ('D19', 2), ('C126', 2), ('B71', 2), ('B5', 2), ('B20', 2), ('F G63', 2), ('C62 C64', 2), ('E24', 2), ('E8', 2), ('C46', 2), ('D30', 2), ('E121', 2), ('D17', 2), ('B69', 2), ('D28', 2), ('B45', 2), ('C31', 2), ('C55 C57', 2), ('C116', 2), ('C6', 2), ('C80', 2), ('C89', 2), ('C103', 1), ('D56', 1), ('A6', 1), ('B30', 1), ('A5', 1), ('C110', 1), ('F E69', 1), ('D47', 1), ('B86', 1), ('B19', 1), ('A7', 1), ('C49', 1), ('A32', 1), ('B4', 1), ('B80', 1), ('A31', 1), ('C87', 1), ('B94', 1), ('C99', 1), ('C118', 1), ('D7', 1), ('A19', 1), ('E36', 1), ('C91', 1), ('E40', 1), ('T', 1), ('C128', 1), ('C82', 1), ('E10', 1), ('C104', 1), ('C111', 1), ('E38', 1), ('E12', 1), ('E63', 1), ('A14', 1), ('B37', 1), ('C30', 1), ('B79', 1), ('D46', 1), ('B73', 1), ('C95', 1), ('B38', 1), ('B39', 1), ('C70', 1), ('A16', 1), ('A10', 1), ('E68', 1), ('A20', 1), ('D50', 1), ('D9', 1), ('A23', 1), ('B50', 1), ('A26', 1), ('D48', 1), ('E58', 1), ('D49', 1), ('C90', 1), ('C45', 1), ('B101', 1), ('D45', 1), ('D11', 1), ('E77', 1), ('F38', 1), ('B3', 1), ('D6', 1), ('B82 B84', 1), ('A36', 1), ('B102', 1), ('E49', 1), ('C47', 1), ('E17', 1), ('A24', 1), ('C50', 1), ('B42', 1), ('C148', 1), ('B36', 1), ('A21', 1), ('D34', 1), ('A9', 1), ('B61', 1), ('C53', 1), ('D43', 1), ('C130', 1), ('C132', 1), ('F', 1), ('A29', 1), ('C28', 1), ('C51', 1), ('C97', 1), ('D22', 1), ('B10', 1), ('E45', 1), ('E52', 1), ('A11', 1), ('B11', 1), ('F E46', 1), ('B26', 1), ('F E57', 1), ('A18', 1), ('E60', 1), ('E39 E41', 1), ('B52 B54 B56', 1), ('C39', 1), ('B24', 1), ('D40', 1), ('D38', 1), ('C105', 1)]

In [139]:
from copy import copy

gender = copy(sex)

  
# creating a dict file  
gender = {'male': 0,'female': 1} 
  
# traversing through dataframe 
# Gender column and writing 
# values where key matches 
titanic['Gender'] = [gender[item] for item in titanic['Sex']] 
print(titanic)

     PassengerId  Survived  Pclass  \
0              1       0.0       3
1              2       1.0       1
2              3       1.0       3
3              4       1.0       1
4              5       0.0       3
..           ...       ...     ...
413         1305       NaN       3
414         1306       NaN       1
415         1307       NaN       3
416         1308       NaN       3
417         1309       NaN       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
413                                 Spector, Mr. Woolf    male   NaN      0
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0
415                       Saether, Mr. Simon Sivertsen    male  38.5      0
416                                Ware, Mr. Frederick    male   NaN      0
417                           Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked  Gender
0        0           A/5 21171    7.2500   NaN        S       0
1        0            PC 17599   71.2833   C85        C       1
2        0    STON/O2. 3101282    7.9250   NaN        S       1
3        0              113803   53.1000  C123        S       1
4        0              373450    8.0500   NaN        S       0
..     ...                 ...       ...   ...      ...     ...
413      0           A.5. 3236    8.0500   NaN        S       0
414      0            PC 17758  108.9000  C105        C       1
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S       0
416      0              359309    8.0500   NaN        S       0
417      1                2668   22.3583   NaN        C       0

[1309 rows x 13 columns]